{% extends "artigos/artigos.html" %}{% load artigos_tags %}

{% block content %}
  <div class="post">
    <h1 class="post-title">{{ artigo.título }}</h1>
    <div class="post-date">
      {{ artigo.created | date:"d/m/Y" }} &#9679;
      Categorias: {{ artigo.categorias.all | query_join }} &#9679;
      Etiquetas: {{ artigo.etiquetas.all | query_join  }}
    </div>

    {% renderizar_conteúdo_do_artigo %}
  </div>

  <div id="disqus_thread"></div>
  <script>var disqus_config = function () {this.page.url = '{{ request.build_absolute_uri }}';this.page.identifier = '{{ artigo.get_absolute_url }}';};</script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock content %}
