/* Estilos de artigo
============================================================================================================*/
.syntaxhighlighter {
  border: 2px solid silver;
  border-radius: 5px;
  padding: 15px 0;
}

.blog-post p {
  text-align: justify;
}

.blog-post p.imagem {
  text-align: center;
  margin: 20px 0;
}

.blog-post p.imagem i {
  font-size: 11px;
}

.post-imagem {
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
