/* Estilos globais
============================================================================================================*/
html {
  font-size: 16.5px !important;
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  border: thin solid silver;
}

.pointer {
  cursor: pointer;
}

/* Estilos dos artigos
============================================================================================================*/
.container {
  max-width: 50rem;
}

.post {
  border-bottom: thin solid silver;
}

.post-imagem {
  margin: 10px auto;
}

.syntaxhighlighter {
  font-size: 0.8em !important;
}

