{% extends "artigos/artigos.html" %}

{% block title %}Contato{% endblock title %}

{% block content %}
  <div class="col-md-12 blog-post">
    <div class="post-title margin-bottom-30">
      <h1>Contato</h1>
    </div>
         
    <p>Olá, me chamo Igor Carvalho e sou desenvolvedor python/web a vários anos. Se quiser deixar uma mensagem, preencha e envie o formulário abaixo.</p>
     
    <!-- Contact Form Start -->
    <div class="row margin-top-30">
      <div class="col-md-12">   
        <div class="row">
          <contato-form></contato-form>
        </div>
      </div>
    </div>
    <!-- Contact Form End -->
  </div>
{% endblock content %}
