<form name="contatoForm" cg-busy="vm.promise" novalidate>
  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" id="name" class="form-control" placeholder="Seu nome (requerido)" ng-model="vm.dados.nome" required focus-if>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <input type="email" id="email" class="form-control" placeholder="Seu email (requerido)" ng-model="vm.dados.email" required>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" id="website" class="form-control" placeholder="Seu website (não esqueça o http://)" ng-model="vm.dados.website">
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <input type="text" id="address" class="form-control" placeholder="De onde você é?" ng-model="vm.dados.local">
    </div>
  </div>

  <div class="col-sm-12">
    <select id="subject" name="assunto" class="form-group form-control" ng-model="vm.dados.assunto" required>
      <option value="" selected disabled>Assunto (requerido)</option>
      <option>Desenvolvimento de Software</option>
      <option>Conversa informal</option>
      <option>Outro</option>
    </select>
    <span ng-show="vm.erros.assunto">[[ vm.erros.assunto[0] ]]</span>
  </div>

  <div class="col-sm-12">
    <div class="textarea-message form-group">
      <textarea id="message" name="mensagem" class="textarea-message form-control"
          placeholder="Digite sua mensagem aqui  (requerido)" rows="8" ng-model="vm.dados.mensagem" required></textarea>
    </div>
  </div>

  <div class="text-center">      
    <button type="submit" class="load-more-button" ng-disabled="contatoForm.$invalid" ng-click="vm.enviarEmail()">Enviar</button>
  </div>
</form>
